# Transmit SDO to driver
# Format: index, subindex, data

# EXT1 emergency stop @ rising edge (normal state == 0)
# Rising edge for trigger #1 
0x600F, 2, 3
# Pullup for triggers on rising edge
0x600F, 3, 3
# Enable EXT1
0x600F, 1, 3

# save settings
#0x2007, 0, 2
